prefix = "spinkubeperf"

location = "westus2"

system_nodepool = {
  name = "agentpool"
  size = "Standard_DS2_v2"
  min  = 1
  max  = 1
}

user_nodepools = [{
  name       = "apps"
  size       = "Standard_DS2_v2"
  node_count = 1
  max_pods   = 250
  labels = {
    "runtime" = "containerd-shim-spin"
  }
  taints = []
},
{
  name       = "system"
  size       = "Standard_DS2_v2"
  node_count = 1
  max_pods   = 100
  labels = {
    "workload" = "system"
  }
  taints = []
}]

tags = {
  "Purpose" = "Testing SpinKube Performance"
}

# TODO: see monitoring.tf
#
# to set the current user as an admin you can get your user id from the az cli
# example: az ad signed-in-user show -o tsv --query id
# grafana_admins = [  ]
