name: Build and Push Spin Apps

on:
  push:
    branches: [ main ]
    paths:
      - apps/**
  workflow_dispatch:

env:
    REGISTRY_URL: spinkubeperf.azurecr.io
    SPIN_V_VERSION: "2.5.0"
    
jobs:
  apps:
    name: Build and push Spin apps
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Spin
        uses: fermyon/actions/spin/setup@v1
        with:
          version: "v${{ env.SPIN_V_VERSION }}"

      - name: Install TinyGo
        uses: acifani/setup-tinygo@v2
        with:
          tinygo-version: '0.31.2'

      - name: Install Rust wasm target
        run: rustup target add wasm32-wasi
        
      - name: Login to Azure Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY_URL }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build and push apps
        run: make build-and-push-apps